


button { margin: 0px 10px;
  padding: 5px 10px;

}
  .d-flex{
    display:flex;
   align-items:center;
   flex-wrap: wrap;
   height: 50vh;

  }
button {
    
    border: none ;
    /*padding:15px 32px ;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    flex:none;
    border-radius:8px ;
    border: 2px solid hsl(229, 39%, 49%);
    background-color:#4CAF50 ;
    

}
.footerbtn{
  display: flex;
}

::ng-deep .ui-steps .ui-steps-item {
  width: 25%;
}

::ng-deep .ui-steps.steps-custom {
  margin-bottom: 30px;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}
::ng-deep .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}
::ng-deep .p-card .p-card-footer {
  padding: 1.25rem 0 0 0;
}
::ng-deep .justify-content-between {
  justify-content: space-between!important; 
    display: flex !important;
}
::ng-deep .grid-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;

}
::ng-deep .justify-content-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .grid-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
::ng-deep .grid {
  display: flex;
  flex-wrap: wrap;
}
::ng-deep .justify-content-between button:nth-child(1){
  display: flex;
  flex: 1;
}


#footer-btn, .contentcenter{
  justify-content: center;
}

#footer-btn > button {
  width: 178.09px;
  height: 41.7px;
}

.max-h-200{
max-height: 200px !important;
height: 200px !important;
overflow-y:  auto;
overflow-x: auto;
padding: 10px;
}


.icon{cursor: pointer;margin-right: 50px;line-height: 60px}
.icon span{background: #f00;padding: 7px;border-radius: 50%;color: #fff;vertical-align: top;margin-left: -25px}
.icon img{display: inline-block;width: 26px;margin-top: 4px}
.icon:hover{opacity: .7}
.logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}
.notifications{width: 300px;height: 0px;opacity: 0;position: absolute;top: 63px;right: 62px;border-radius: 5px 0px 5px 5px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
.notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}
.notifications h2 span{color: #f00}
.notifications-item{display: flex;border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}
.notifications-item:hover{background-color: #eee}
.notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}
.notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}
.notifications-item .text p{color: #aaa;font-size: 12px}